# Przygotowanie Danych

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
datContent = pd.read_csv("grafana_data_export.csv", delimiter=';')

In [3]:
datContent.head()

           Series                       Time      Value
0  clab2189node18  2020-06-15T21:00:00+02:00  13.470261
1  clab2189node18  2020-06-15T21:20:00+02:00  14.522368
2  clab2189node18  2020-06-15T21:40:00+02:00  15.279718
3  clab2189node18  2020-06-15T22:00:00+02:00  14.351735
4  clab2189node18  2020-06-15T22:20:00+02:00  20.885126

In [4]:
datContent.Series.unique()

array(['clab2189node18', 'clab2189node19', 'clab2189node20',
       'clab2189node21'], dtype=object)

In [5]:
datContent.shape

(2020, 3)

In [6]:
datContent.count()

Series    2020
Time      2020
Value     2020
dtype: int64

In [7]:
pd.Series(datContent['Time']).is_unique

False

In [8]:
print(datContent['Series'][0], datContent['Time'][0])
print(datContent['Series'][504], datContent['Time'][504])

print('---')

print(datContent['Series'][505], datContent['Time'][505])
print(datContent['Series'][1009], datContent['Time'][1009])

print('---')

print(datContent['Series'][1010], datContent['Time'][1010])
print(datContent['Series'][1514], datContent['Time'][1514])

print('---')

print(datContent['Series'][1515], datContent['Time'][1515])
print(datContent['Series'][2019], datContent['Time'][2019])

clab2189node18 2020-06-15T21:00:00+02:00
clab2189node18 2020-06-22T21:00:00+02:00
---
clab2189node19 2020-06-15T21:00:00+02:00
clab2189node19 2020-06-22T21:00:00+02:00
---
clab2189node20 2020-06-15T21:00:00+02:00
clab2189node20 2020-06-22T21:00:00+02:00
---
clab2189node21 2020-06-15T21:00:00+02:00
clab2189node21 2020-06-22T21:00:00+02:00

In [12]:
d = {
    'Time': datContent['Time'][0:504].reset_index(drop=True),
    'Value_clab2189node18 ': datContent['Value'][0:504].reset_index(drop=True),
    'Value_clab2189node19 ': datContent['Value'][505:1009].reset_index(drop=True),
    'Value_clab2189node20 ': datContent['Value'][1010:1514].reset_index(drop=True),
    'Value_clab2189node21 ': datContent['Value'][1515:2019].reset_index(drop=True)
}


data = pd.DataFrame(d)

In [13]:
data.head()

,Time,Value_clab2189node18,Value_clab2189node19,Value_clab2189node20,Value_clab2189node21
0,2020-06-15T21:00:00+02:00,13.470261,12.497104,12.307692,11.789692
1,2020-06-15T21:20:00+02:00,14.522368,13.422947,12.191719,14.515398
2,2020-06-15T21:40:00+02:00,15.279718,13.696577,11.852457,15.019536
3,2020-06-15T22:00:00+02:00,14.351735,12.411655,11.235736,15.275737
4,2020-06-15T22:20:00+02:00,20.885126,17.919341,16.487906,19.697467

# Model regresji